language: node_js
node_js:
  - "12"
before_script: npm i ionic cordova
script: ionic build --prod -- --base-href https://gPierre56.github.io/conference-ionic/
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master
  local_dir: www
