<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="ion-margin-start" (click)="backClicked()">
            <ion-icon icon="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title  slot="end">
            Description du présentateur
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-title class="ion-margin-start">{{presentateur.name}}</ion-card-title>
        <ion-card-subtitle>
            <ion-img src="https://devfest2018.gdgnantes.com/{{presentateur.photoUrl}}"></ion-img>
        </ion-card-subtitle>
      <ion-card-content>
        <ion-row style="font-weight: bold;">Biographie :</ion-row>
        <ion-row class="ion-margin-top">{{presentateur.bio}}</ion-row>
      </ion-card-content>
    </ion-card>
  <ion-card>
    <ion-row>Ses présentations :</ion-row>
    <ion-row *ngIf="sessions">
      <a routerLink="/details-session/{{session.id}}" *ngFor="let session of sessions">{{session.title}}</a>
    </ion-row>
  </ion-card>
</ion-content>
