<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Téléphone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
  <ion-col>Platform</ion-col>
  <ion-col>{{infosDevice?.get('platform')}}</ion-col>
</ion-row>
  <ion-row>
    <ion-col>Version</ion-col>
    <ion-col>{{infosDevice?.get('osVersion')}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>UUID</ion-col>
    <ion-col>{{infosDevice?.get('uuid')}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Model</ion-col>
    <ion-col>{{infosDevice?.get('model')}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Connection</ion-col>
    <ion-col>{{infosConnexion?.get('connectionType')}}</ion-col>
  </ion-row>
</ion-content>
